body {
  text-align: center
}

li {
  list-style: none;
}

h1 {
  font-size: 6em;
}

h1 span {
  color: #a181bf;
}

h2 {
  font-size: 2em;
  color: #a181bf;
}


nav li {
  display: inline-block;
  margin: 0.3em;
}

label input {
  margin-left: 2em;
  margin-right: 1em;
  width: 25em;
  height: 33px;
}

input[type=submit] {
  padding: 5px 15px;
  background: #a181bf;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: large;
  color: #ffffff;
}
